[buildout]
extensions = mr.developer
develop = .
parts = zope2 instance test test-coverage z3c.coverage omelette py
extends = http://dist.plone.org/release/3.3.5/versions.cfg 
versions = versions
sources-dir = devel

[sources]
z3c.taskqueue = svn svn+ssh://svn.zope.org/repos/main/Sandbox/gotcha/z3c.taskqueue/trunk

[instance]
recipe = plone.recipe.zope2instance
zope2-location = ${zope2:location}
user = admin:admin
eggs = five.taskqueue 
zcml = five.taskqueue
zope-conf-additional =
   <product-config five.taskqueue>
       autostart *@*
   </product-config>

[test]
recipe = zc.recipe.testrunner
defaults = ['--tests-pattern', '^f?tests$']
extra-paths = ${zope2:location}/lib/python
eggs = ${instance:eggs} 

[zope2]
recipe = plone.recipe.zope2install
url = ${versions:zope2-url}
fake-zope-eggs = true
skip-fake-eggs = docutils
                 zope.testing
                 zope.schema
                 zope.exceptions
                 zope.configuration
                 zope.component
                 zope.interface
                 zope.location
                 zope.proxy

[py]
recipe = zc.recipe.egg
interpreter = py
eggs = ${test:eggs}

[test-coverage]
recipe = zc.recipe.testrunner
eggs = ${test:eggs}
defaults = ['--coverage', '${buildout:directory}/coverage', '--auto-progress']
extra-paths = ${test:extra-paths}

[z3c.coverage]
recipe = zc.recipe.egg
eggs = z3c.coverage
scripts = coveragereport
arguments = ('coverage', 'coverage/report')

[omelette]
recipe = collective.recipe.omelette
eggs = ${test:eggs}
products =
packages = ${zope2:location}/lib/python ./

[versions]
zope.component = 3.5.1
zope.configuration = 3.5.0
zope.container = 3.7.1
zope.location = 3.5
zope.site = 3.6.0
zope.schema = 3.6.1
zope.interface = 3.5.2
zope.testing = 3.9.5
mr.developer = 1.7 
zc.recipe.testrunner = 1.2.0
zope.app.testing = 3.6.0
